# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Node / React
node_modules/
dist/
build/
.npm
*.log

# Maven / Java
target/
*.class
*.jar
*.war

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
tfplan

# Local environment files
.env
.env.local
